

<!-- 解决WKWebView无法直接使用loadRequest: 方法发送POST方法 -->
<html>
    <head>
        <script>
            //调用格式: post('URL', {'key': 'value'})
            function requestPOST(URL, parameters) {
                
                var method  = "POST";
                var form    = document.createElement("form");
                
                form.setAttribute("method", method);
                form.setAttribute("action", URL);
                
                for (var key in parameters) {
                    
                    if (parameters.hasOwnProperty(key)) {
                        
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", key);
                        hiddenField.setAttribute("value", parameters[key]);
                        
                        form.appendChild(hiddenField);
                    }
                }
                
                document.body.appendChild(form);
                form.submit();
            }
            </script>
        </head>
    </html>
